$mPortrait = '(min-width:320px)'
$mPortraitMax = '(max-width:479px)'
$mLandscapeMax = '(max-width:767px)'
$mLandscape = '(min-width:768px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$desktopMax = '(max-width:1239px)'
$desktop = '(min-width:1240px)'
$bigDesktopMax = '(max-width:1365px)'

$baseFontFamily ='Roboto ', 'Arial', sans-serif
$baseFontSize = 18px
$baseLineHeight = 24px
$baseFontWeight = normal

$black = #1f1f1f
$darkGray = #333
$gray = #ccc
$red = #fc3030
