.header
  padding 37px 40px 38px
  background-color #fff
  &__row
    display flex
    justify-content space-between
    align-items center
  &__title
    color $black
    font-size 40px
    line-height 44px
    margin-left 35px
    margin-right auto

