.tutorial
  z-index 2
  &__item
    display flex
    flex-direction column
    justify-content flex-end
    text-align right
    position absolute
    &--step1
      top 93px
      left -320px
    &--step2
      display none
    &--step3
      display none
    &-count
      display inline-flex
      position relative
      margin-left auto
      &-active, &-all
        color #fff
        font-size 24px
        line-height 26px
      &-all
        position relative
        margin-left 5px
        &:before
          content '/'
          display inline-block
          vertical-align top
          position relative
          color #fff
          font-size 24px
          line-height 26px
          margin-right 5px
    &-descr
      max-width 280px
      color #fff
      font-size 24px
      line-height 36px
      margin-top 20px
    &-next
      margin-top 25px
      align-self flex-end
    &-close
      display inline-block
      vertical-align top
      align-self flex-end
      margin-top 15px
      color #fff
      font-size 18px
      line-height 20px
      border-bottom 1px solid #ffffff
      transition border .5s
      &:hover
        border-bottom-color transparent

