+b('header').header
  +e.row
    +b('a')(href="#").logo
      include ../../../svg/ps-logo.svg
    
    +e('p').title Тестовое задание

    +b('a')(href="#").logo.--ytb
      include ../../../svg/ytb-logo.svg
